doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet", href="/css/bootstrap/bootstrap.min.css")
        link(rel="stylesheet" href="/css/bauteilUpdate.css")
        title ES-Bauteileverwaltung
    body
        header
            div(class="container-fluid  header")
                div(class="row justify-content-between")
                    a(class="col-6", href="/")
                        div(class="row")
                            img(src="/images/microchip.svg", alt="Logo", width="40", height="40")
                            h1 ES-Bauteileverwaltung
                    div(class="col")
                        div(class="row justify-content-end")
                            if userType == "administrator"
                                a(class="hoverunderline" href="/benutzer") Benutzerliste anzeigen

                            a(class="hoverunderline" href="/bauteile") Bauteile anzeigen
                            a(class="hoverunderline" href="/ausleihauftraege") Ausleihauftraege anzeigen

                            if userType == "studentuser"        
                                a(class="hoverunderline" href="/warenkorb") Warekorb anzeigen

                            p(class="margin-center")
                                strong #{namen}

                            a(class="hoverunderline" class="" href="/benutzer/ausloggen") Ausloggen

        section
            div(class="contrainer-fluid")
                nav(class="navbar navbar-light bg-light")
                    h2(class="navbar-brand heading-list") 
                        strong Bauteile 
                div(class="col mb-4")               
                    div(class="border border-dark")
                        div(class="row mx-1 mt-1 mb-3")
                            div(class="col-3")
                                strong Name:
                                input(class="mx-2" type="text" value="" + bauteil.name id="name")
                            div(class="col-3") 
                                strong Artikelnummer:
                                input(class="mx-2" type="text" value="" + bauteil.artikelNummer id="artikelNummer")
                            div(class="col-1")
                                div(class="row justify-content-end")
                                    strong Status:
                            div(class="col")
                                div(class="onoffswitch mx-2")
                                    input(type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="status" checked)
                                    label(class="onoffswitch-label" for="myonoffswitch")
                                        span(class="onoffswitch-inner")
                                        span(class="onoffswitch-switch")

                        div(class="row mx-1 my-2")
                            div(class="col-1")
                                strong Lagerort:
                            div(class="col-2 ml-2")
                                input(type="text" value="" + bauteil.ortsangabe id="lagerort")
                        div(class="row mx-1 my-2")
                            div(class="col-1")
                                strong Vorhandene Anzahl:
                            div(class="col-2 ml-2 number-input-div my-auto ")
                                div(class="row justify-content-start")
                                    input(class="number-input ml-3" type="number", value=""+bauteil.anzahl min="1" max="10" id="anzahl")
                        div(class="row mx-1 my-2")
                            div(class="col-1")
                                strong Ausgeliehene Anzahl: 
                            div(class="col-2 ml-2")
                                span #{anzahlausgeliehen}
                        div(class="row mx-1 my-2") 
                            div(class="col-2") 
                                strong Beschreibung:
                        div(class="row mx-1 my-2") 
                            div(class="col")
                                textarea(class="my-2" rows="10" cols="130"  value="" + bauteil.beschreibung id="beschreibung")

                        div(class="row mx-1 my-2") 
                            div(class="col") 
                                strong(class="mb-1") Angehängte Dateien:
                                div(class="border border-dark")
                                    div(class="mx-4 my-2")
                                        a(href="#") Bibliothekselement
                                    div(class="mx-4 my-2")
                                        a(href="#") Datenblatt
                        form(class="row mx-1 my-2" action="", method="post")
                            div(class="col")
                                div(class="row mr-1 justify-content-end")
                                    input(class="btn btn-outline-dark mr-1" type="file", value="Dokument auswählen")
                                    input(class="btn btn-outline-dark" type="button", value="Dokumenthochladen")
                        
                        div(class="form-row")
                            div(class="col mx-2 my-2")
                                if bauteil.id 
                                    input(class="btn btn-outline-dark" type="button", value="Speichern" key=""+bauteil.id id="button-save")
                                else
                                    input(class="btn btn-outline-dark" type="button", value="Speichern" key="" id="button-save")
                            div(class="col mx-3 my-2 ")
                                div(class="row justify-content-end")
                                    a(href="/bauteile" class="btn btn-outline-dark") Verwerfen



                        



        footer(class="footer")
            div(class="container")


        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous")
        script(type="text/javascript" src="/js/bauteilUpdate.js")


