doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet", href="/css/bootstrap/bootstrap.min.css")
        link(rel="stylesheet" href="/css/benutzerUpdate.css")
        title ES-Bauteileverwaltung
    body
        header
            div(class="container-fluid  header")
                div(class="row justify-content-between")
                    a(class="col-6", href="/")
                        div(class="row")
                            img(src="/images/microchip.svg", alt="Logo", width="40", height="40")
                            h1 ES-Bauteileverwaltung
                    div(class="col")
                        div(class="row justify-content-end")
                            if userType == "administrator"
                                a(class="hoverunderline" href="/benutzer") Benutzerliste anzeigen

                            a(class="hoverunderline" href="/bauteile") Bauteile anzeigen
                            a(class="hoverunderline" href="/ausleihauftraege") Ausleihauftraege anzeigen

                            if userType == "studentuser"        
                                a(class="hoverunderline" href="/warenkorb") Warekorb anzeigen

                            p(class="margin-center")
                                strong #{namen}

                            a(class="hoverunderline" class="" href="/benutzer/ausloggen") Ausloggen

        section
            div(class="contrainer w-50 mx-auto")
                nav(class="navbar navbar-light bg-light")
                    h2(class="navbar-brand heading-list") 
                        strong Benutzer 
                div(class="col mb-4")               
                    div(class="border border-dark")
                        if benutzer.userType == "hiwi"
                            div(class="justify-content-center row mx-1 mt-1 mb-3")
                                div(class="col-4")
                                    div(clas="row")
                                        strong Benutzertyp:
                                div(class="col-4") 
                                    div(clas="row")
                                        select(class="custom-select" id="inputGroupSelect01")
                                            option(value="studentuser") Studentuser
                                            option(value="hiwi" selected="selected") Hiwi

                            div(class="justify-content-center row mx-1 mt-1 mb-3" id="gruppenNummerDiv" style="display:none;")
                                div(class="col-4")
                                    div(clas="row")
                                        strong Gruppennummer:
                                div(class="col-4") 
                                    div(clas="row")
                                        input(class="form-control" type="text" value="" + benutzer.gruppenNummer id="gruppenNummer")
                            div(class="justify-content-center row mx-1 mt-1 mb-3")
                                div(class="col-4")
                                    div(clas="row")
                                        strong Name:
                                div(class="col-4") 
                                    div(clas="row")
                                        input(class="form-control" type="text" value="" + benutzer.name id="name")
                            div(class="justify-content-center row mx-1 mt-1 mb-3")
                                div(class="col-4")
                                    div(clas="row")
                                        strong Matrikelnummer:
                                div(class="col-4") 
                                    div(clas="row")
                                        input(class="form-control" type="text" value="" + benutzer.matrikelNummer id="matrikelNummer")
                            div(class="justify-content-center row mx-1 mt-1 mb-3")
                                div(class="col-4")
                                    div(clas="row")
                                        strong E-Mail:
                                div(class="col-4") 
                                    div(clas="row")
                                        input(class="form-control" type="text" value="" + benutzer.email id="email")
                            div(class="justify-content-center row mx-1 mt-1 mb-3")
                                div(class="col-4")
                                    div(clas="row")
                                        strong Telefonnummer:
                                div(class="col-4") 
                                    div(clas="row")
                                        input(class="form-control" type="text" value="" + benutzer.telefonNummer id="telefonNummer")
                            div(class="row mx-1 mt-4 mb-3")            
                                div(class="col btn-centered")
                                    div(class="row justify-content-center")
                                        input(class="btn btn-outline-dark" type="button", value="Benutzer anlegen/speichern" key=""+benutzer.id id="button-save")

                        else
                            div(class="justify-content-center row mx-1 my-3")
                                div(class="col-4")
                                    div(clas="row")
                                        strong Benutzertyp:
                                div(class="col-4") 
                                    div(clas="row")
                                        select(class="custom-select" id="inputGroupSelect01")
                                            option(value="studentuser" selected="selected") Studentuser
                                            option(value="hiwi") Hiwi
                            div(class="justify-content-center row mx-1 mt-1 mb-3" id="gruppenNummerDiv")
                                div(class="col-4")
                                    div(clas="row")
                                        strong Gruppennummer:
                                div(class="col-4") 
                                    div(clas="row")
                                        input(class="form-control" type="text" value="" + benutzer.gruppenNummer id="gruppenNummer")
                            div(class="justify-content-center row mx-1 mt-1 mb-3")
                                div(class="col-4")
                                    div(clas="row")
                                        strong Name:
                                div(class="col-4") 
                                    div(clas="row")
                                        input(class="form-control" type="text" value="" + benutzer.name id="name")
                            div(class="justify-content-center row mx-1 mt-1 mb-3")
                                div(class="col-4")
                                    div(clas="row")
                                        strong Matrikelnummer:
                                div(class="col-4") 
                                    div(clas="row")
                                        input(class="form-control" type="text" value="" + benutzer.matrikelNummer id="matrikelNummer")
                            div(class="justify-content-center row mx-1 mt-1 mb-3")
                                div(class="col-4")
                                    div(clas="row")
                                        strong E-Mail:
                                div(class="col-4") 
                                    div(clas="row")
                                        input(class="form-control" type="text" value="" + benutzer.email id="email")
                            div(class="justify-content-center row mx-1 mt-1 mb-3")
                                div(class="col-4")
                                    div(clas="row")
                                        strong Telefonnummer:
                                div(class="col-4") 
                                    div(clas="row")
                                        input(class="form-control" type="text" value="" + benutzer.telefonNummer id="telefonNummer")
                            div(class="row mx-1 mt-4 mb-3")            
                                div(class="col btn-centered")
                                    div(class="row justify-content-center")
                                        if benutzer.id 
                                            input(class="btn btn-outline-dark" type="button", value="Benutzer anlegen/speichern" key=""+benutzer.id id="button-save")
                                        else 
                                            input(class="btn btn-outline-dark" type="button", value="Benutzer anlegen/speichern" key="" id="button-save")

        footer(class="footer")
            div(class="container")


        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous")
        script(type="text/javascript" src="/js/benutzerUpdate.js")


